
body {
    background-color: rgb(241, 232, 192);
}

h1 {
    font-size: 60px;
    text-align: center;
    height: 150px;
    margin-top: 50px;
}

p {
    font-size: 30px;
    display: inline;
    line-height: 70px;
}

div {
    width: 80%;
    padding-left: 10%;
}


.cap{
color: orangered;
}

.block {
    display: inline;
    background-color: orangered;
    padding: 5px;
}
.block:hover {
    font-weight: bold;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#inputid {
    font-size: 25px;
    text-align: center;
    width: 100px;
    border: 3px dotted;
    box-sizing: border-box;
}